dconf/
neofetch/
autostart/
btop/
cef_user_data/
enchant/
eog/
evolution/
gedit/
gh/
GIMP/
glib-2.0/
gnome-control-center/
gnome-session/
go/
gtk*/
htop/
ibus/
jgit/
libvirt/
matplotlib/
mono.addins/
nautilus/
pop-shell/
pop-system-updater/
pulse/
session/
sxhkd/
teams-for-linux/
totem/
touchegg/
VirtualBox/
yelp/
Pinta/
VA_11_Hall_A/
VSCodium/
ibus/
libreoffice/
libreoffice/4/user/registrymodifications.xcu
qalculate/
rclone/
spotify/

.config/.gsd-keyboard.settings-ported
.config/emaildefaults
.config/gnome-initial-setup-done
.config/gtkrc
.config/gtkrc-2.0
.config/kactivitymanagerdrc
.config/kglobalshortcutsrc
.config/kleopatrarc
.config/kwinoutputconfig.json
.config/mimeapps.list
.config/monitors.*
.config/okularpartrc
.config/okularrc
.config/Trolltech.conf
.config/user-dirs.*

.fehbg
.gtkrc-2.0
.nvidia-settings-rc
.Xresources
