[credential "https://github.com"]
	helper = 
	helper = !/run/current-system/sw/bin/gh auth git-credential
[user]
	name = Rahi Iqbal
	email = rahi.iqbal1@gmail.com
[init]
	defaultBranch = main
[format]
	pretty = oneline
[log]
	abbrevCommit = true
